<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="stylesheets/index.css">
</head>

<body>
  <div class="nav" id="nav">
    <div class="list">
         <button>Home</button>
         <button>Contacts</button>
         <button onclick="window.location.href='/task'">Tasks</button>
         <button>Other</button>
    </div>
 </div>
  <div class="hero">
    <div class="hero-text">
        <h2>Boost Your</h2>
        <h2>Productivity</h2>
        <div class="hero-para">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut debitis omnis, id, voluptates necessitatibus officiis, aut repellat accusantium quasi fugiat voluptatum ipsum reprehenderit tenetur deleniti fuga assumenda nihil vel! Temporibus?</p>

        </div>
        <div class="hero-button">
            <button class="login">JOIN FOR FREE</button>
            <button onclick="window.location.href='/loginPage'">LOG IN</button>
        </div>
    </div>
</div>
</body>
</html>